<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Norman Foster</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sir Norma Foster</h1>
    <p>A Breif Introduction</p>
    <img src="/images/foster.jpeg" />
    <h1>Welcome to the Homepage</h1>
    <p>Norman Foster is a world-renowned architect and designer.</p>
    <ul>
      <li><a href="/about">About Norman Foster</a></li>
      <li><a href="/works">Norman Foster's Works</a></li>
    </ul>
  </body>
</html>
